/dist/
/nbproject/private/
/build/
*.class
*.class
nbproject/private/private.xml
nbproject/private/private.properties
build/built-jar.properties
*.properties
*.class
*.class
*.xml
build/built-jar.properties
*.properties
*.class
*.properties
build/built-jar.properties
*.properties
*.class
*.properties
*.class
*.properties
*.xml
*.properties
